html {
	position: relative;
	min-height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-bottom: 60px;
}

.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    filter: alpha(opacity=0);
}

.left-fix {
    padding-left: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
}

.footer p {
	margin: 15px 0;
}

.text-danger {
	color: #a94442 !important;
}

input[type='submit']:active, input[type='submit']:focus, button:active, button:focus, a:active, a:focus {
	outline: 0 !important;
}

textarea {
	resize: none;
}

.date > input, #avatar {
	cursor: pointer;
}

.active, .disabled {
	pointer-events: none;
}

.social {
	color: #333333;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#social-li:hover {
	color: #0077B5;
}
#social-tw:hover {
	color: #4099FF;
}
#social-gp:hover {
	color: #d34836;
}
#social-vk:hover {
	color: #537599;
}

.avatar-small {
	height: 64px;
	width: 64px;
}

.avatar-big {
	height: 186px;
	width: 186px;
}

.no-border > li {
	border: 0 none;
	padding-left: 0;
}

@media only screen and (max-width: 768px) {
	.avatar-big {
		height: 128px;
		width: 128px;
	}
}
@media only screen and (max-width: 480px) {
	.avatar-big {
		height: 64px;
		width: 64px;
	}
}